# Go
backend/agrichain-backend

# Flutter / Dart
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
*.swp
